{% extends "../base.html" %}
{% load static %}
{% block title %}
Üzleti partner program
{% endblock %}
{% block content %}
<aside class="col-lg-3 blog-sidebar">
   <div class="sidebar p-4 bg-light mb-3">
      <h6 class="sidebar-title">Üzleti partner program</h6>
      <nav class="nav flex-column">
         <a class="nav-link" href="">premiumDog.hu Business</a>
         <a class="nav-link" href="">Kiknek szól ez a partnerprogram?</a>
         <a class="nav-link" href="">Miért a premiumDog.hu? Vagy hogyan segítünk Önnek az ONLINE értékesítésben?</a>
         <a class="nav-link" href="">További 7 előnye</a>
         <a class="nav-link" href="">Hogyan tudja kihasználni a premiumDog.hu partnerprogramban rejlő lehetőségeket?</a>
         <a class="nav-link" href="">Áraink</a>
         <a class="nav-link" href="">Extra profitnövelő szolgáltatások</a>
      </nav>
   </div>
</aside>
<!-- /.blog-sidebar -->
<div class="col-lg-9 blog-main">

<div class="home-header">
   <div class="row">
      <div class="col-12">
         <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="/">Kezdőlap</a></li>
               <li class="breadcrumb-item active" aria-current="page">Cégeknek</li>
            </ol>
         </nav>
      </div>
   </div>
</div>
<div class="row px-3 mb-3">
   <div class="col-12 bg-light p-3">
      <h5>premiumDog.hu Business</h5>
      <hr>
      <h6>A legátfogóbb kutyás online katalógus az interneten. </h6>
      <p>Csatlakozzon most <strong>INGYEN</strong> vállalkozásával és értékesítsen még többet.</p>
      <strong>Szerezzen több ezer új, aktív látogatót webáruházának a regisztrációval </strong>
      <ul class="list-unstyled">
         <li>+ 10.000 Ft üdvözlő bónusz egyenlegfeltöltést</li>
         <li>+ extra kezdőoldali médiamegjelenést</li>
      </ul>
      <p>Üdvözöljük a premimDog.hu Partner Portálon. Egy nagyszerű ajánlattal fogadjuk Önt.
         Az első 100 partnerünknek most 10.000 Ft azonnal jóváírunk az egyenlegén a bejelentkezés után. Ráadás 50% Üdvözlő bónuszt kaphat maximum 50.000 Ft értékben az első befizetés alkalmával. + Extra kezdőoldali médiamegjelenés
      </p>
      <strong>Pár kattintással töltse fel  termékeit a premiumDog.hu Marketplace-re és azonnal kezdődhet az online értékesítés.</strong>
      <br><br>
      <a href="{% url 'accounts:register' %}" class="btn btn-secondary">Regisztráljon most üzleti partner programunkba.</a>
   </div>
</div>
<div class="row px-3 mb-3">
   <div class="col-12 bg-light p-3">
      <h5>Kiknek szól ez a partnerprogram?</h5>
      <hr>
      <strong>Elsősorban:</strong>
      <ul class="list-unstyled">
         <li>Kutyatáp(kutyaeledel) gyártóknak, forgalmazóknak</li>
         <li>Kutyaruha gyártóknak, forgalmazóknak</li>
         <li>Pórázok, nyakörvek gyártóinak, forgalmazóinak</li>
         <li>Kutyakozmetikai termékek gyártóinak, forgalmazóinak</li>
         <li>Kutyaház, kutyafekhelyek gyártóinak, forgalmazóinak</li>
         <li>Kutyáknak készített táplálékkiegészítők gyártóinak, forgalmazóinak</li>
         <li>Kutyás felszerelések, segédeszközök, kiképzési kellékek gyártóinak, forgalmazóinak</li>
      </ul>
      <strong>Töbszörözze meg forgalmát a premiumDog.hu segítségével.</strong>
   </div>
</div>
<div class="row px-3 mb-3">
   <div class="col-12 bg-light p-3">
      <h5>Miért a premiumDog.hu?
         Vagy hogyan segítünk Önnek az ONLINE értékesítésben?
      </h5>
      <hr>
      <p>Mert a  premiumdog.hu a ma elérhető egyik legjobb online vásárlási élményt nyújtja hogy gyorsan és hatékonyan értékesítse kutyákkal kapcsolatos termékeit az interneten.Ilyen egyszerű! Egy ideje már jelen vagyunk az online termékeladások piacon, ezért szeretnénk azt gondolni, hogy tudjuk, miről beszélünk! Eltökélt szándéka volt a fejlesztőknek, hogy megalkossák a tökéletes Online értékesítési platformot a kutyás vállalkozások számára.
      </p>
      <h6>Ismert név vagyunk az iparágban.</h6>
      <p>A csapat web és marketing szakértőkből áll (vagy inkább mindentudókból, attól függ, hogyan tekintünk ezekre a dolgokra!), akik 2001 óta vannak az iparágban, és rengeteget tudnak az értékesítésről , a termékekről, a webáruházakról, a marketingről és egyebekről.</p>
      <h6>Kiváló minőségű, gyorsan betöltődő termékek választékát találják a vásárlók nálunk.</h6>
      <p>Akár több ezer új, aktív látogatót szerezhet naponta webáruházának. Az újgenerációs böngésző segítségével még egyszerűbbé tesszük az online értékesítést.
         Mi nem összehasonlítjuk a termékeket, hanem eladjuk őket.
      </p>
      <h6>Világszínvonalú ügyfélszolgálat</h6>
      <p>Afelől biztos lehet, hogy ha nálunk hirdeti a termékeit, 100%-ban kényelmesen és biztonságban érezheti magát egy megbízható online katalógusban. ha bármilyen kérdése van, vegye fel a kapcsolatot ügyfélszolgálatunkkal a hét bármely napján, bármely órájában chat-en, e-mailben vagy telefonon keresztül.</p>
      <h6>Egy online katalógus, amely minden partnert úgy kezel, mint a VIP-eket</h6>
      <p>Partnereinket az első naptól kezdve úgy kezeljük, mint a VIP-eket, és azonnali hozzáférést biztosítunk számukra a az adminisztációs felülethez. Minden kérés, kérdés esetén azonnal rendelkezésre állunk.</p>
      <h6>Minden egyenlegfeltöltésnél 10 % bónusz, határidőkorlát nélkül.</h6>
      <p>A regisztrációkor hihetetlen nagyvonalú befizetési bónuszt kap, és  itt nem érnek véget a kedvezmények: személyre szabott kiemelési ajánlatok megszokottak hűséges partnereink számára.</p>
      <h6>Először hirdessen teljesen ingyen!</h6>
      <p>Így van, a regisztráció után ingyen hirdetheti termékeit. Egyszerűen regisztráljon majd kockázat nélkül értékesítheti termékeit. Ez egy jó lehetőség  arra, hogy megtalálja a legtöbb potenciális vevőt az interneten.</p>
      <h6>Értékesítsen bárhol, bármikor</h6>
      <p>Egyszerű kezelhetőség. A weboldal  úgy van optimalizálva, hogy bármilyen eszközön működjön, beleértve az asztali számítógépeket és a mobil eszközöket is. Kezdje el termékeit hirdetni bárhol, bármikor és a premiumDog.hu a rendelkezésére áll.
      </p>
      <h6>Mi vagyunk a premiumDog.hu csapata, és úgy hisszük, létrehoztuk Magyarország legátfogóbb kutyás online katalógusát.</h6>
      <p>Azonban, ha ezt nem hiszi el, csak regisztráljon, és döntsd el maga!</p>
      <a href="{% url 'accounts:register' %}" class="btn btn-secondary">Regisztráljon most üzleti partner programunkba.</a>
   </div>
</div>
<div class="row px-3 mb-3">
   <div class="col-12 bg-light p-3">
      <h5>További 7 előnye</h5>
      <hr>
      <ul class="list-unstyled">
         <li>Értékesítsen otthonról, kényelmesen a nap 24 órájában
         </li>
         <li>Nem kell saját marketing stratégiát építenie vagy marketing szakembereket alkalmaznia</li>
         <li>Utazás, nyaralás közben is egyszerűen nyomonkövetheti a vásárlásokat</li>
         <li>Ha nem rendelkezik saját webshoppal nálunk erre is van megoldás</li>
         <li>Azonnal elérhető és mérhető  eredmények.</li>
         <li>Folyamatosan szállítjuk a vevőket és az eredményeket
         </li>
         <li>Azonnal reagálunk a piaci változásokra</li>
      </ul>
      <strong>Nálunk a közös munka mindig az eredményekről szól.</strong>
   </div>
</div>
<div class="row px-3 mb-3">
   <div class="col-12 bg-light p-3">
      <h5>Hogyan tudja kihasználni a premiumDog.hu partnerprogramban rejlő lehetőségeket
      </h5>
      <hr>
      <ul class="list-unstyled">
         <li>Ingyenesen regisztrálhatja termékeit
         </li>
         <li>Első alkalommal teljesen kockázatmentesen hirdethet</li>
         <li>Hatékony, nagymértékű növekedést érhet el rövid idő alatt</li>
         <li>Felkutatjuk Ön helyett a lehetséges vásárlókat</li>
         <li>Potenciális vevőkkel kerül kapcsolatba </li>
         <li>Állandó elektronikus felügyeletet biztosítunk
         </li>
         <li>Fáradságmentes online értékesítés</li>
      </ul>
      <strong>Csatlakozzon most Ingyen
      </strong>
      <p>Ahhoz, hogy regisztrálni tudjon az premiumDog.hu/partner oldalán és a premiumDog.hu partnerei közé tartozhasson, a következő feltételeknek kell megfelelnie:</p>
      <ul class="list-unstyled">
         <li>Rendelkezzen online webáruházzal
         </li>
         <li>Adja meg céges adataid, legyen számlaképes (cég vagy cégszerű elnevezés, adószám, cégjegyzékszám)</li>
         <li>Töltse fel termékeit oldalunkra (felhasználóbarát adminisztrációs kezelőfelület)</li>
         <li>Rendelkezzen elektronikus és telefonos elérhetőségekkel,</li>
         <li>A megrendelések és a vásárlás ellenértéke közvetlenül Önhöz érkezik </li>
      </ul>
      <strong>Építsen milliós havi jövedelmet a premiumDog.hu segítségével.
      </strong>
   </div>
</div>
<div class="row px-3 mb-3">
   <div class="col-12 bg-light p-3">
      <h5>Hogyan tudja feltölteni termékeit a premiumDog.hu -ra?</h5>
      <hr>
      <p>A termékek feldolgozásához XML formátumú terméklistát kérnünk partnereinktől, az oldalunkon megjelenő termékeket és ezek árait a terméklista alapján minden nap egy megadott időpontban automatikusan frissítjük.
         <br><br>
         Ha Önök már rendelkeznek ilyen feed URL elérhetőséggel akkor nincs más dolguk mint elküldeni nekünk az info@premiumdog.hu  címre.
      </p>
   </div>
</div>
<div class="row px-3 mb-3">
   <div class="col-12 bg-light p-3">
      <h5>Áraink
      </h5>
      <hr>
      <p>A pontos elszámolás alapja egy átlátható fizetési rendszer ami a <strong>premiumDog.hu oldalról az Ön webáruházába történő átkattintás,</strong> amelynek díja nettó 0 és 34 Ft között változik.</p>
      <strong>Tehát foglaljuk össze mennyit kell fizetnie az átkattintásokért?</strong>
      <br>
      <strong>A szolgáltatás sikerdíja átkattintás után
         Átkattintási árak (Ft-ban):
      </strong>
      <ul class="list-unstyled mb-0">
         <li>0-199 : 0,00
         </li>
         <li>200-1 999 : 14 Ft </li>
         <li>2 000-9 999 : 19 Ft </li>
         <li>10 000-24 999 : 21 Ft </li>
         <li>25 000-54 999 : 25 Ft </li>
         <li>55 000-99 999 : 28 Ft
         </li>
         <li>100 000 és felette : 34 Ft </li>
      </ul>
      <small>A feltüntetett árak az ÁFÁ-t nem tartalmazzák.</small>
      <br>
      <strong>Csatlakozzon most Ingyen
      </strong>
      <br><br>
      <h6>
      Nincsenek további havidíjak<br>
      Nincsenek további rejtett költségek
      <h6>
      <h6>Segítünk a siker felé vezető úton! </h6>
      <a href="{% url 'accounts:register' %}" class="btn btn-secondary">Regisztráljon most üzleti partner programunkba.</a>
   </div>
</div>
{% endblock %}