{% extends "../base.html" %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Kategóriák{% endif %}
{% endblock %}

{% block content %}

<aside class="col-lg-3 blog-sidebar order-1 order-lg-0">

    <div class="sidebar p-4 bg-light mb-3">
        <h6 class="sidebar-title">Termékkategóriák</h6>
        <nav class="nav flex-column">
            <a class="nav-link active" href="{% url 'shop:category_list' %}">Összes kategória</a>
            {% for category in category_list%}
            <a class="nav-link" href="{{ category.get_absolute_url }}">{{category.name}}</a>
            {% endfor%}
        </nav>
    </div>

      <div class="sidebar p-4 mb-3 bg-light my-3">
    <h6 class="sidebar-title">Bejegyzések</h6>
    <nav class="nav flex-column">
      <a class="nav-link" href="{% url 'shop:category_list' %}">Összes bejegyzés</a>
      <a class="nav-link" href="{% url 'shop:category_list' %}">Legutolsó bejegyzések</a>
    </nav>
  </div>



</aside><!-- /.blog-sidebar -->

<div class="col-lg-9 blog-main order-0 order-lg-1">

    <div class="sidebar p-0 bg-light mb-3 border-left-orange">
        <nav class="nav main-nav">
          <a class="nav-link" href="/">Kezdőlap</a>
          <a class="nav-link" href="{% url 'shop:product_latest' %}">Újdonságok</a>
          <a class="nav-link" href="{% url 'shop:product_most_viewed' %}">Legnépszerűbb termékek</a>
          <a class="nav-link" href="{% url 'shop:product_offer' %}">Aktuális ajánlatok</a>
          <a class="nav-link" href="{% url 'shop:product_discount' %}">% Akció</a>
        </nav>
      </div>

    <div class="home-header">
        <div class="row">
            <div class="col-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Kezdőlap</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Kategóriák</li>

                    </ol>
                </nav>
            </div>
            <div class="col-6 text-right mb-1"><small>Összes találat: {{category_list | length}} db</small></div>
        </div>
    </div>



    <div class="row">
        {% for category in category_list%}
        <div class="col-6 col-lg-3 mb-3">
            <a href="{% url 'shop:product_list_by_category' category.slug %}">
            <div class="card">
                <div
                    style="background: url('../media/{{category.category_image}}');height:180px;background-position: center center;background-repeat: no-repeat;background-size: 50%;">
                </div>
                <div class="card-body">
                    <small class="card-category">{{product.product_category}}</small>
                    <h1 class="card-title mb-0"><a
                            href="{% url 'shop:product_list_by_category' category.slug %}">{{category.name}}</a>
                    </h1>

                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}