{% extends "../base.html" %}
{% load static %}
{% block title %}
Általános szerződési feltételek
{% endblock %}
{% block content %}
<aside class="col-lg-3 blog-sidebar">
   <div class="sidebar p-4 bg-light mb-3">
      <h6 class="sidebar-title">Nyilatkozatok</h6>
      <nav class="nav flex-column">
         <a class="nav-link active" href="{% url 'shop:page_aszf' %}">Általános szerződési feltételek</a>
         <a class="nav-link" href="{% url 'shop:page_gdpr' %}">Adatvédelmi nyilatkozat</a>
      </nav>
   </div>

  <div class="sidebar p-4 mb-3 bg-light my-3">
    <h6 class="sidebar-title">Blöki Blog</h6>
    <nav class="nav flex-column">
        <a class="nav-link" href="{% url 'article:article_list' %}">Összes bejegyzés</a>
      <a class="nav-link" href="{% url 'article:article_list_latest' %}">Legújabb bejegyzések</a>
    </nav>
  </div>
</aside>
<!-- /.blog-sidebar -->
<div class="col-lg-9 blog-main">
<div class="sidebar p-0 bg-light mb-3 border-left-orange">
   <nav class="nav main-nav">
      <a class="nav-link" href="/">Kezdőlap</a>
      <a class="nav-link" href="{% url 'shop:product_latest' %}">Újdonságok</a>
      <a class="nav-link" href="{% url 'shop:product_most_viewed' %}">Legnépszerűbb termékek</a>
      <a class="nav-link" href="{% url 'shop:product_offer' %}">Aktuális ajánlatok</a>
      <a class="nav-link" href="{% url 'shop:product_discount' %}">% Akció</a>
   </nav>
</div>
<div class="home-header">
   <div class="row">
      <div class="col-12">
         <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="/">Kezdőlap</a></li>
               <li class="breadcrumb-item active" aria-current="page">Általános szerződési feltételek</li>
            </ol>
         </nav>
      </div>
   </div>
</div>
<div class="row px-3 mb-3">
<div class="col-12 bg-light p-3">
   <h1 class="h5">Általános szerződési feltételek</h1>
   <hr>
   <div class="entry-content" itemprop="text">
      <p>Jelen szerződés célja, a Premium Web Media Kft.által üzemeltetett alábbi szolgáltatások igénybevételi feltételeinek meghatározása:<br></p>
      <p>-premiumDog: a premiumdog.hu internetes médiahirdetésifelület, amely oldalon regiszrált partnerek termékeiket vagy szolgáltatásait kreditvásárlás ellenében közzé tehetik.<br></p>
      <p>Az Premium Web Media Kft. szolgáltatásainak általános szerződési feltételei<br></p>
      <p>A Premium Web Media Kft.(székhely: 9700 Szombathely, Jázmin utca 7/B.;cégjegyzékszám:18-09-114230; adószám:27330953; (továbbiakban: Médiahirdetésifelület-értékesítő) a vele szerződéses kapcsolatban álló</p>
      <p>médiatulajdonos (továbbiakban: Reklámközzétevő) által üzemeltetett www.premiumdog.hu URL alatt elérhető weboldal(továbbiakban: Weboldal) szolgáltatásainak igénybevételére vonatkozóan,&nbsp;</p>
      <p>a Szolgáltató és a felhasználó, illetve a partner között létrejött szerződés(továbbiakban:Szerződés) lényeges és alapvető rendelkezéseit, így a Szerződés elválaszthatatlan tartalmát – részét-képezik.</p>
      <p></p>
      <p>I. BEVEZETÉS</p>
      <p>Az Premium Web Media Kft., mint médiahirdetésifelület-értékesítő (továbbiakban: Médiahirdetésifelület értékesítő) a hirdetési felületek értékesítése során a médiatulajdonos (továbbiakban:</p>
      <p>Reklámközzétevő) nevében jár el. A Premium Web Media Kft. a hirdetések közzétételében közreműködik, de mivel</p>
      <p>a reklám közzétételére alkalmas eszközzel a médiatulajdonos rendelkezik, ezért a hirdetés</p>
      <p>közzétételével kapcsolatos végső döntés joga is a médiatulajdonost, mint reklámközzétevőt illeti meg.</p>
      <p>Ebből következően a Premium Web Media Kft. a reklám közzétételével kapcsolatban semmilyen felelősséggel nem</p>
      <p>tartozik.<br></p>
      <p>II. ÁLTALÁNOS SZABÁLYOK</p>
      <p>1. A Reklámközzétevő kezelésében lévő internetes felületeken megjelenő hirdetés közzétételére a</p>
      <p>Médiahirdetésifelület-értékesítő és a hirdetést megjelentetni kívánó személy (továbbiakban:</p>
      <p>Megrendelő: azaz Reklámozó és/vagy Reklámszolgáltató/Reklámközvetítő) között létrejött, a reklám</p>
      <p>közzétételére irányuló Reklám közzétételi Szerződés (a továbbiakban: Reklám közzétételi Szerződés)</p>
      <p>alapján kerülhet sor.</p>
      <p>2. Jelen Általános Szerződési Feltételek szerint Reklám közzétételi Szerződésnek minősül minden olyan</p>
      <p>írásban (levél, e-mail útján – amennyiben ezeket a Médiahirdetésifelület-értékesítő arra jogosult</p>
      <p>képviselője azonosítható módon visszaigazolta) megkötött megállapodás, amelynek alapján a</p>
      <p>Reklámközzétevő hirdetés közzétételére, a Megrendelő pedig hirdetési díj megfizetésére köteles. A</p>
      <p>Reklám közzétételi Szerződés a felek közötti egyedi szerződéssel vagy keret-megállapodással jön létre.</p>
      <p>3. Felek a Reklám közzétételi Szerződésben szabályozzák a konkrét hirdetések közzétételének, a</p>
      <p>hirdetési díj megfizetésének, valamint a Reklámközzétevő/Médiahirdetésifelület-értékesítő által</p>
      <p>nyújtott konkrét engedmények feltételeit.</p>
      <p>4. Jelen Feltételek valamennyi Reklám közzétételi Szerződésre irányadóak, feltéve, hogy a Felek</p>
      <p>megállapodása ettől eltérően nem rendelkezik. Ilyen eltérés esetén a Reklám közzétételi Szerződésben</p>
      <p>írásban rögzítettek értelemszerűen irányadóak. Vita és értelmezési probléma esetén mindenkor a&nbsp;</p>
      <p>Oldal 2 / 9</p>
      <p>(továbbiakban összefoglalóként nevezett) Magyar Reklámetikai Kódexben foglaltakat kell alkalmazni. Az</p>
      <p>Általános Szerződési Feltételekre a:</p>
      <p>• Grtv: a gazdasági reklámtevékenység alapvető feltételeiről és egyes korlátairól szóló 2008. évi</p>
      <p>XLVIII. törvény;</p>
      <p>• Fttv: a fogyasztókkal szembeni tisztességtelen kereskedelmi gyakorlat tilalmáról szóló 2008. évi</p>
      <p>XLVII. Törvény</p>
      <p>• Tpvt: a tisztességtelen piaci magatartás és a versenykorlátozás tilalmáról szóló 1996. évi LVII.</p>
      <p>törvény</p>
      <p>• Ekertv: az elektronikus kereskedelmi szolgáltatások, valamint az információs társadalommal</p>
      <p>összefüggő szolgáltatások egyes kérdéseiről szóló 2001. évi CVIII. törvény</p>
      <p>rendelkezései az irányadóak.&nbsp;<br></p>
      <p>III. A REKLÁM KÖZZÉTÉTELI SZERZŐDÉS LÉTREJÖTTE, A HIRDETÉS MEGRENDELÉSE ÉS</p>
      <p>ELFOGADÁSA</p>
      <p>1. A konkrét hirdetések megrendelése írásban a Médiahirdetésifelület-értékesítőnél e célra</p>
      <p>rendszeresített formanyomtatvány (“megrendelőlap”) kitöltésével, illetőleg az Általános Szerződési</p>
      <p>Feltételek 2. pontja szerinti írásos módon történhet.</p>
      <p>2. A megrendelés tartalmazza: a fix 365 napos megjelenési időszakot, a hirdetés témáját, a megjelenés</p>
      <p>időtartamát és méreteit, a megjelenés helyét, a megjelenítések számát, a Megrendelő szükséges</p>
      <p>adatait, a számla ÁFA-teljesítésére vonatkozó kitételeket, valamint Reklámszolgáltató/Reklámközvetítő</p>
      <p>általi megrendelés esetén a képviselt cég megnevezését.</p>
      <p>3. A Reklámközzétevő/Médiahirdetésifelület-értékesítő jogosult a megrendelését követően a</p>
      <p>megjelentetni kívánt hirdetés szövegét és tartalmát – jelen Általános Szerződési Feltételek szerint –</p>
      <p>ellenőrizni. Reklámközzétevő/Médiahirdetésifelület-értékesítő e körben jogosult a Megrendelőtől</p>
      <p>megkövetelni mindazon szükséges bizonylatokat, amelyek ahhoz szükségesek, hogy a vonatkozó</p>
      <p>jogszabályok alapján a hirdetés megjelenhessen.</p>
      <p>4. Reklámközzétevő/Médiahirdetésifelület-értékesítő a megrendelést akkor fogadja el, ha az arra</p>
      <p>jogosult képviselője a megrendelést írásban visszaigazolja. Ha a hirdetés bármely okból nem felel meg</p>
      <p>az Általános Szerződési Feltételeknek, akkor Reklámközzétevő/Médiahirdetésifelület-értékesítő annak</p>
      <p>közlését visszautasíthatja.</p>
      <p>5. Amennyiben a hirdetés tartalma, formája, minősége, leadásának ideje nem felel meg a</p>
      <p>Reklámközzétevő/Médiahirdetésifelület-értékesítő által támasztott követelményeknek, akkor a</p>
      <p>Reklámközzétevő/Médiahirdetésifelület-értékesítő jogosult a megrendelést visszautasítani, amiről a</p>
      <p>Megrendelőt haladéktalanul írásban értesíti.</p>
      <p></p>
      <p>IV. A HIRDETÉS TARTALMA ÉS FORMÁJA</p>
      <p>1. A Megrendelő a hirdetés szövegét az MTA Helyesírási Bizottsága által kidolgozott, közzétett és</p>
      <p>mindenkor hatályos magyar (külön igény esetén idegen) nyelv- és helyesírás szabályainak megfelelően</p>
      <p>köteles meghatározni. A Reklámközzétevő/Médiahirdetésifelület-értékesítő a hirdetés szövegén</p>
      <p>jogosult elvégezni a nyelvhelyességi szabályok szerint szükséges és egyéb javításokat, de erről</p>
      <p>Megrendelőt legalább telefonon értesíteni köteles és e javítások elvégzésére – a hiba mibenlétének</p>
      <p>közlésével együtt – a Megrendelőnek lehetőséget biztosít. Amennyiben a Megrendelő a javításokkal</p>
      <p>nem ért egyet, és a kifogását kellő időben írásban jelzi, a Reklámközzétevő/Médiahirdetésifelület értékesítő jogosult a megrendelést visszautasítani.</p>
      <p>2. Ha a hirdetés szövegében tartalmi, érdemi változtatásra is szükség van, úgy a</p>
      <p>Reklámközzétevő/Médiahirdetésifelület-értékesítő a hirdetést – az általa javasolt módosításokkal –</p>
      <p>jóváhagyás végett visszaküldi a Megrendelőnek. A Megrendelő által írásban jóváhagyott, módosított</p>
      <p>hirdetés vissza érkezését követően a Reklámközzétevő/Médiahirdetésifelület-értékesítő írásban</p>
      <p>tájékoztatja a Megrendelőt a lehetséges legközelebbi megjelenés időpontjáról, ha az eredeti</p>
      <p>megrendelésben szereplő megjelenési időpont a változtatás miatt nem tartható.</p>
      <p>3. A hirdetés nem tartalmazhat zavaró, pár másodpercenként váltakozó és villódzó elemeket. Abban az</p>
      <p>esetben, amennyiben a kreatív nem felel meg ezeknek a kritériumoknak, úgy a</p>
      <p>Reklámközzétevő/Médiahirdetésifelület-értékesítő jogosult a hirdetés megjelenítését elutasítani, és</p>
      <p>csak azután megjeleníteni, ha azt a hirdető vagy ügynöksége a jelen ÁSZF-ben, és a hatályos</p>
      <p>törvényekben foglalt kritériumoknak megfelelően javította.</p>
      <p></p>
      <p>V. HIRDETÉSI KORLÁTOZÁSOK ÉS TILALMAK</p>
      <p>1. A Megrendelő nem kérheti olyan hirdetés megjelentetését, amelynek közlése bármely magyar</p>
      <p>jogszabályi tiltásba vagy a Magyar Reklámetikai Kódex előírásaiba ütközik, illetőleg alkotmányos elveket</p>
      <p>sért vagy a közerkölcs és/vagy közegészség szempontjából kifogásolható.</p>
      <p>2. A Reklámközzétevő/Médiahirdetésifelület-értékesítő a megjelentetni kívánt hirdetés előfeltételeit</p>
      <p>a jogszabályban rögzített reklámtilalmak és reklámkorlátozások szempontjából ellenőrizheti. A</p>
      <p>Reklámközzétevő/Médiahirdetésifelület-értékesítő megítélése szerint aggályos tartalmú hirdetések</p>
      <p>közzétételét megtagadhatja, amennyiben nem tudja eldönteni, hogy a megjelentetni szánt hirdetés</p>
      <p>sérti-e harmadik személy bármely jogát vagy jogos érdekét.</p>
      <p>3. A Reklámközzétevő a megjelentetni kívánt hirdetést minden esetben ellenőrzi és saját hatáskörben</p>
      <p>döntve visszautasíthatja.</p>
      <p>4. A Reklámközzétevő a versenytársnak számító hirdetéseket saját hatáskörben döntve</p>
      <p>visszautasíthatja.</p>
      <p>Oldal 4 / 9</p>
      <p>5. A hirdetési szöveg, illetőleg kép tartalmáért, azok technikai kialakításáért elsődlegesen a Reklámozó</p>
      <p>és/vagy Reklámszolgáltató tartozik felelősséggel. Harmadik személy által ezzel kapcsolatban támasztott</p>
      <p>akár közvetett, akár közvetlen kárigényeket a Reklámozó és/vagy Reklámszolgáltató köteles</p>
      <p>megtéríteni.</p>
      <p>6. Megrendelő által megrendelt hirdetésre és annak tartalmára a Reklámtörvény rendelkezései</p>
      <p>irányadóak. Ennek megfelelően a Reklámozó és/vagy Reklámszolgáltató köteles figyelemmel lenni a</p>
      <p>Reklámtörvény előírásaira, az általános és különös reklámtilalmakra, köteles valamennyi szükséges</p>
      <p>nyilatkozatot megadni, amelyek a reklám közzétételéhez kellenek, illetve a</p>
      <p>Reklámközzétevő/Médiahirdetésifelület-értékesítő írásbeli kérésére ilyet szükség esetén bemutatni</p>
      <p>vagy beszerezni.<br></p>
      <p>VI. HIRDETÉS-LEADÁSI HATÁRIDŐ</p>
      <p>1. A Reklámközzétevő által gondozott és/vagy kiadott honlapokon megjelentetni kívánt hirdetést a</p>
      <p>tervezett megjelenés előtt 3 (kettő) munkanappal korábban kell leadni.</p>
      <p>2. A Reklámközzétevőt/Médiahirdetésifelület-értékesítőt nem terheli felelősség, ha a hirdetés</p>
      <p>késedelmes leadásából eredően az előzetes megállapodás szerinti megjelentetés nem teljesíthető.</p>
      <p>3. Amennyiben meghatározott napon és helyen megjelentetni szándékozott és a Reklámközzétevő által</p>
      <p>elfogadott hirdetést a Reklámozó és/vagy Reklámszolgáltató/Reklámközvetítő a megjelenés előtt&nbsp;</p>
      <p>Oldal 5 / 9</p>
      <p>legkésőbb 5 (öt) munkanappal lemondja, úgy kötbér címén a hirdetési díj 100 %-át (Száz százalékát), a</p>
      <p>megjelenés előtt 6-9 (hat-kilenc) munkanappal történő lemondás esetén 50 %-át (Ötven százalékát) míg</p>
      <p>a megjelenés előtt 10 (tíz) munkanappal történő lemondás esetén pedig 25 %-át (Huszonöt százalékát)</p>
      <p>köteles megfizetni.<br></p>
      <p>VII. MINŐSÉGI KÖVETELMÉNYEK</p>
      <p>1. A Reklámközzétevő csak elektronikus formában, lehetőleg e-mail-en elküldött hirdetéseket fogad el.</p>
      <p>2. Ha a Reklámozó és/vagy Reklámszolgáltató/Reklámközvetítő által leadott hirdetés nem felel meg az</p>
      <p>Általános Szerződési Feltételekben leírt követelményeknek, erre őt a Médiahirdetésifelület-értékesítő</p>
      <p>írásban, az ok megjelölésével figyelmezteti.<br></p>
      <p>VIII. A REKLÁMKÖZZÉTEVŐ/MÉDIAHIRDETÉSIFELÜLET-ÉRTÉKESÍTŐ FELELŐSSÉGÉRE</p>
      <p>VONATKOZÓ SZABÁLYOK</p>
      <p>1. A reklámért a felelősséget a Reklámtörvény rendelkezései szabályozzák elsődlegesen. A</p>
      <p>Reklámszolgáltatónak a reklám elkészítésénél úgy kell eljárnia, és a reklámot közzétevő</p>
      <p>Reklámközzétevő a közzétételnél úgy jár el, hogy a Reklámozó helytállási kötelezettségét nyilvánvalóvá,</p>
      <p>illetve lehetővé tegye.</p>
      <p>2. A Reklámközzétevő kötelezettséget vállal arra, hogy az időben átadott és elfogadott hirdetést a</p>
      <p>megállapodás szerint megjelenteti. A reklámok elhelyezésekor a Reklámtörvény elhelyezésre vonatkozó</p>
      <p>előírásainak betartása a Reklámközzétevő felelőssége. Ennek elmulasztása esetén a Reklámszolgáltatót</p>
      <p>és ügyfelét semmilyen felelősség nem terheli.</p>
      <p>3. Ha a Reklámközzétevő által megjelentetett hirdetés a megrendeléstől eltérő, szövege egészben vagy</p>
      <p>részben olvashatatlan, az ábra, grafika (kép) nem felismerhető, vagy a hirdetés nem az előre</p>
      <p>megállapodott időpontban jelent meg, a Reklámozó és/vagy Reklámszolgáltató elsősorban a hirdetési</p>
      <p>díj arányos leszállítását követelheti, másodsorban kérheti a hirdetés ismételt, kifogástalan</p>
      <p>megjelentetését.</p>
      <p>4. Ha a hirdetés közzététele olyan okból marad el, amelyért a Reklámközzétevő/ Médiahirdetésifelületértékesítő a felelős, ide nem értve a Megrendelő VII. 3. pont szerinti teljesítését, a</p>
      <p>Reklámközzétevő/Médiahirdetésifelület-értékesítő hirdetési díjra nem tarthat igényt.</p>
      <p>5. A Reklámközzétevővel/Médiahirdetésifelület-értékesítővel szemben bármely esetben a Reklámozó</p>
      <p>és/vagy Reklámszolgáltató/Reklámközvetítő által érvényesíthető kártérítési igény összege a hirdetési</p>
      <p>díjra korlátozódik. Vis maiorért a Reklámközzétevőt/Médiahirdetésifelület-értékesítőt semmiféle&nbsp;</p>
      <p>Oldal 6 / 9</p>
      <p>felelősség nem terheli (Vis maiornak minősül különösen: sztrájk, elemi csapás, egyéb ellenállhatatlan</p>
      <p>erő).</p>
      <p>6. Mind a Reklámközzétevő/Médiahirdetésifelület-értékesítő, mind a Reklámozó és/vagy</p>
      <p>Reklámszolgáltató/Reklámközvetítő aláveti magát az Önszabályozó Reklám Testület Alapszabályában</p>
      <p>meghatározott Önszabályozó Reklám Testület Etikai Ad hoc Bizottsága Eljárási Szabályzatának minden</p>
      <p>olyan etikai és jogvita tekintetében, amely jelen Általános Szerződési Feltételek alapján kerül</p>
      <p>megindításra.<br></p>
      <p>IX. A HIRDETÉSI DÍJ<br></p>
      <p>1.Az „premiumDog.hu” szolgáltatás teljesítésének díját a Felhasználó előre köteles a Szolgáltató részére megfizetni. Előbbiek alapján az „premiumDog” szolgáltatás igénybevételének (teljesítésnek)&nbsp;</p>
      <p>elengedhetetlen feltétele, hogy a Felhasználó pozitív aktuális egyenleggel rendelkezzen. Előbbiek hiányában a Szolgáltató nem köteles a szolgáltatást teljesíteni.&nbsp;</p>
      <p>A Reklámközzétevő a megrendelt hirdetést a mindenkor hatályos, hirdetési díj ellenében teszi közzé.<br></p>
      <p>1.1 A „premiumDog.hu” szolgáltatás igénybevételéhez szükséges díjról a Felhasználó köteles gondoskodni.&nbsp;</p>
      <p>Banki átutalással, vagy készpénzes befizetés útján megfizetett összeg a felhasználó egyenlegére a Szolgáltató bankszámláján való jóváírás napját követő 1 munkanapon belül kerül kimutatásra.</p>
      <p>A számla kiegyenlítésével kapcsolatos bankköltségek aMegrendelőt terhelik. Külföldi megrendelés esetén a külföldi és a belföldi bankköltség is a Megrendelőt terheli.<br></p>
      <p>1.2 A fizetés teljesítésének időpontja a számla ellenértékének jóváírása a számlán megadott bankszámlaszámon.</p>
      <p>Bármely számlával kapcsolatos kifogás csak a vitatott tételt érinti, a többi tétel, valamint a számla esedékességén</p>
      <p>nem változtat. A számlával kapcsolatos kérdéseket, kifogásokat, annak kézhezvételétől számított 8 naptári napon</p>
      <p>belül írásban kell közölni. E határidőn túl reklamációnak helye nincs, Megrendelő a számla vitatásának jogáról</p>
      <p>kifejezetten lemond. Megrendelő a jelen pontban rögzítetteket kifejezetten tudomásul veszi és elfogadja.&nbsp;<br></p>
      <p>2. A Hirdetési Díjak tartalmazzák a hirdetés közzétételével felmerülő szokásos technikai költségeket,</p>
      <p>nem tartalmazzák azonban a hirdetések elkészítését és átadási költségeit, valamint a Reklámozó és/vagy</p>
      <p>Reklámszolgáltató által kért jelentősebb változtatások elvégzésének költségeit. Ez utóbbi költségek a</p>
      <p>Hirdetési Díjon felül a Reklámozót és/vagy Reklámszolgáltatót terhelik.<br></p>
      <p>3. A Médiahirdetésifelület-értékesítő fenntartja magának a jogot, hogy promóciós akciók esetén a</p>
      <p>Hirdetési Díjat a Tarifatáblázattól eltérően állapítsa meg.<br></p>
      <p>4. A Médiahirdetésifelület-értékesítő jogosult a Tarifatáblázatban szereplő Hirdetési Díjakat</p>
      <p>megváltoztatni, azonban a változás tényét annak hatálybalépését megelőzően 30 (harminc) nappal</p>
      <p>köteles írásban (levélben, faxon vagy e-mailen) közölni a Reklámszolgáltatókkal/Reklámközvetítőkkel és</p>
      <p>vagy keret-megállapodással szerződött Reklámozókkal. Az árváltozás a Megrendelő által a közlés</p>
      <p>kézhezvételét megelőzően feladott megrendelésekre nem vonatkozik.<br></p>
      <p>5. A Médiahirdetésifelület-értékesítő különbséget tesz a Reklámszolgáltató/Reklámközvetítő és a</p>
      <p>Reklámozó között az engedmények érvényesítésében. Ügynökségi kedvezmény csak a</p>
      <p>Reklám szolgáltatónak/ Reklám közvetítőnek, mennyiségi kedvezmény mind a Reklámozónak, mind a</p>
      <p>Reklámszolgáltatónak/Reklámközvetítőnek adható.<br></p>
      <p>XI. A SZÁMLÁZÁS RENDJE</p>
      <p>1. A Hirdetési Díjat a Médiahirdetésifelület-értékesítő által kiállított számla ellenében kell megfizetni.<br></p>
      <p>2. A Médiahirdetésifelület-értékesítő a teljesítés után 8 (Nyolc) banki napos átutalással fizetendő</p>
      <p>számlát állít ki. Amennyiben a teljesítés a tárgyhót követő időszakra is áthúzódik, a</p>
      <p>Médiahirdetésifelület-értékesítő jogosult a tárgyévre arányosan esedékes és teljesített teljesítésről</p>
      <p>számlát kiállítani.<br></p>
      <p>3. A számla kiállítására a mindenkori Áfa törvények az irányadóak, különösen az Áfa törvény 58.§-a. Ettől</p>
      <p>eltérni a Megrendelő által aláírt megrendelőlapon lehet.<br></p>
      <p>4. Ha a számlázás devizaneme Megrendelő kérésére eltér a megrendelés devizanemétől, akkor a</p>
      <p>Megrendelő részére a számlák a Médiahirdetésifelület-értékesítő a megrendelés alapjául szolgáló</p>
      <p>tarifatáblázatában szereplő ár teljesítési időpont napján érvényes MNB középárfolyamon számolt</p>
      <p>devizaértéke szerint kerülnek kiállításra. Kivételt képez ez alól a 2007. évi CXXVII. törvény 58. § (1)</p>
      <p>bekezdése szerinti időszakos elszámolás szabálya alá tartozó ügylet, amely során a számla kiállítás</p>
      <p>napján érvényes MNB középárfolyam alkalmazandó. A számla ellenértékét a számla szerinti</p>
      <p>pénznemben kell rendezni.<br></p>
      <p>5. Ha a Reklámozó és/vagy Reklámszolgáltató/Reklámközvetítő a részére kiküldött számla összegét</p>
      <p>részben kifogásolja, a nem kifogásolt összeget köteles határidőre kiegyenlíteni. Megrendelő a számviteli</p>
      <p>előírások szerint, de legkésőbb a fizetési határidőn belül köteles a kifogásait előterjeszteni.<br></p>
      <p>6. A hirdetési díj késedelmes kiegyenlítése esetén – ettől eltérő megállapodás hiányában – a</p>
      <p>Médiahirdetésifelület-értékesítő évi 12 %-os (Tizenkét százalékos) késedelmi kamatot számít fel,</p>
      <p>valamint a behajtással felmerülő költségeket is az ügyfélre hárítja. A Reklámtörvény szerinti reklamáció</p>
      <p>a késedelmi kamat-számítások kezdetét nem függeszti fel.<br></p>
      <p>7. Amennyiben a Reklámozó és/vagy Reklámszolgáltató/Reklámközvetítő a Hirdetési Díjat alapos indok</p>
      <p>nélkül határidőre nem fizeti meg, – a Médiahirdetésifelület-értékesítő előzetes írásbeli értesítés után,</p>
      <p>amelyben a fizetési kötelezettség teljesítésére további 8 (Nyolc) napos határidőt biztosít.</p>
      <p>Reklámközzétevő a Médiahirdetésifelület-értékesítő jelzése alapján jogosult a Reklámozó és/vagy</p>
      <p>Reklámszolgáltató/Reklámközvetítő további hirdetéseinek közzétételét felfüggeszteni, illetőleg jogosult</p>
      <p>újabb megrendelés elfogadását megtagadni. Az ebből eredő esetleges kárért a Reklámközzétevőt</p>
      <p>felelősség nem terheli.</p>
      <p>Jelen Általános Szerződési Feltételekben nem szabályozott kérdésekre a Polgári Törvénykönyvről szóló 2014. évi</p>
      <p>V. törvény, valamint a gazdasági reklámtevékenység alapvető feltételeiről és egyes korlátairól szóló 2008. évi</p>
      <p>XLVIII. törvény vonatkozó rendelkezései értelemszerűen irányadóak.</p>
   </div>
</div>
{% endblock %}