
body{
    font-size: 14px;
    padding-top: 56px !important;
}

.container{
    max-width:1400px !important;
}

a{
    color:#0b0d10;
}

a:hover{
    color: #F48024;
    text-decoration:none !important;
}

.bg-light{
    background: rgba(239, 240, 241, 0.568) !important;
}

.sidebar{
    font-size: 12px;
}

.sidebar-title{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-link{
    font-size:13px;
}

.sidebar .nav-link.active {
    font-weight: 700;
    color: #000;
}

.btn{
    font-weight: 500;
    border-radius: 0 !important;
    white-space:normal !important;
    word-wrap: break-word;
    word-break: normal;
}

.btn.focus, .btn:focus{
    box-shadow: none !important;
}

.search-input, .form-control:focus{
    box-shadow: none !important;
    border: none !important;
}

.btn-secondary{
    background: #e77600 !important;
    color:#fff;
    border-color: #e77600 !important;
    border-radius: 0;

}

.page-item:first-child .page-link{
    border-radius: 0 !important;
}

.page-item:last-child .page-link{
    border-radius: 0 !important;
}

.page-link{
    border:none !important;
    border-radius: none !important;
    color:#000 !important;
}

.page-item.active .page-link{
    color:#fff !important;
}

.page-link:focus{
    box-shadow: none !important;
}

.page-item.active .page-link{
    background-color:#e77600 !important;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    font-size: 12px;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
}

.shadow-sm{
    box-shadow: none !important;
}

.card{
    text-align: center;
    border-radius: 0;
    border: none;
}

.card-body{
    padding: 0px;
}

.card-title{
    font-size:13px;
    font-weight: 600;
    color: #000;
    margin-top:5px;
}

.card-price{
    font-size: 14px;
    font-weight: 600;
    color:#000 !important;
}

.card-sale-price{
    text-decoration: line-through;
    color:#000 !important;
}

.card-stock{
    color: #0682fb !important;
}

.card-category{
    color: #0682fb !important;
}

.breadcrumb-item.active{
    color:#e77600;
    font-weight: 700;
}

.form-control{
    border-radius: 0 !important;
    border:2px solid #eee;
}

.border-left-orange{
    border-left:5px solid #e77600;
}

.form-control:focus{
    border-color: #e7770052;
    box-shadow: 0 0 0 0.2rem #e7770052;
}

.alert{
    border-radius: 0 !important;
    border: none !important;
    font-weight: 600;
}

.navbar-dark .navbar-toggler{
    border:none !important;
}

button:focus{
    outline: none !important;
}

.footer{
    font-size: 12px;
    font-weight:600;
}

@media (max-width: 576px) {

}


@media (max-width: 768px) {
    .main-nav{
        -ms-flex-direction:column !important;
        flex-direction:column !important;
    }

    .border-left-orange{
        border:none !important;
    }

    .mobile-search-input{
        display:block !important;
    }
    .input-group-append{
        border:none !important;
    }
}


